.fade-in {
  animation: fadeIn 0.7s;
}
.fade-out {
  animation: fadeIn 0.7s reverse;
}
.fade-leave {
  animation: fadeOut 0.7s forwards;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}